body{
    background: url(./img/work-desk.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
  }
  
  h2{
    margin-top: 100px;
    color: #ECF39E;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size:4em;
    text-shadow: 2px 4px 5px darkslategrey;
  }
  
  #calculator{
    background-color: #31572C;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 18px;
    margin: 25px auto;
    box-shadow: 0px 0px 3px 6px black;
  }
  
  #display{    
    margin-bottom: 20px;
    height: 35px;
    width: 10em;
    border: 1px solid #90A955;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px #90A955;
    text-align: right;
    font-family: 'Acme', sans-serif;
    font: 20px bold;
  }
  
  #keys{
    font-family: 'Acme', sans-serif;
    width: 41px;
    height: 35px;
    margin: 4px;
    box-shadow: 0px 0px 2px 1px #ECF39E;
    border-radius: 2px;
    outline: none;
  }
  
  #equals{
    font-family: 'Acme', sans-serif;
    width: 97px;
    height: 35px;
    margin: 4px;
    box-shadow: 0px 0px 2px 1px #ECF39E;
    border-radius: 2px;
    outline: none;
  }